<nav class="navbar navbar-expand-lg navbar-light bg-light admin-navbar">
    <a class="navbar-brand" routerLink="" style="cursor: pointer;">
      <img src="assets/logo.png" alt="Admin Logo" width="120px" height="100px" class="admin-logo">
      <span class="navbar-title">Admin - Travel Bridge</span>
    </a>
  
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#adminNavbarNav" aria-controls="adminNavbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse justify-content-end" id="adminNavbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin-dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin-user">Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin-provider">Providers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin-revenue">Revenue Report</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin-booking">Booking Report</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/provider">Create Provider</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-danger" href="javascript:void(0);" routerLink="/login" >Logout</a>
        </li>
      </ul>
    </div>
  </nav>
  