<app-header></app-header>
<form (ngSubmit)="onSubmit()">
    <div>
        <label for="providerID">Provider ID</label>
        <input id="providerID" name="providerID" [(ngModel)]="schedule.providerID" type="text">
    </div>

    <div>
        <label for="modeID">Mode ID</label>
        <input id="modeID" name="modeID" [(ngModel)]="schedule.modeID" type="text">
    </div>

    <div>
        <label for="transportName">Transport Name</label>
        <input id="transportName" name="transportName" [(ngModel)]="schedule.transportName" type="text">
    </div>

    <div>
        <label for="origin">Origin</label>
        <input id="origin" name="origin" [(ngModel)]="schedule.origin" type="text">
    </div>

    <div>
        <label for="destination">Destination</label>
        <input id="destination" name="destination" [(ngModel)]="schedule.destination" type="text">
    </div>

    <div>
        <label for="departureTime">Departure Time</label>
        <input id="departureTime" name="departureTime" [(ngModel)]="schedule.departureTime" type="datetime-local">
    </div>

    <div>
        <label for="arrivalTime">Arrival Time</label>
        <input id="arrivalTime" name="arrivalTime" [(ngModel)]="schedule.arrivalTime" type="datetime-local">
    </div>

    <div>
        <label for="seatCapacity">Seat Capacity</label>
        <input id="seatCapacity" name="seatCapacity" [(ngModel)]="schedule.seatCapacity" type="number">
    </div>

    <div>
        <label for="price">Price</label>
        <input id="price" name="price" [(ngModel)]="schedule.price" type="number">
    </div>

    <div *ngFor="let ticketType of schedule.ticketTypes; let i = index">
        <h3>Ticket Type {{ i + 1 }}</h3>
        
        <div>
            <label for="ticketTypeName-{{i}}">Ticket Type Name</label>
            <input id="ticketTypeName-{{i}}" name="ticketTypeName-{{i}}" [(ngModel)]="ticketType.ticketTypeName" type="text">
        </div>
        
        <div>
            <label for="numberOfSeats-{{i}}">Number of Seats</label>
            <input id="numberOfSeats-{{i}}" name="numberOfSeats-{{i}}" [(ngModel)]="ticketType.numberOfSeats" type="number">
        </div>
        
        <div>
            <label for="price-{{i}}">Price</label>
            <input id="price-{{i}}" name="price-{{i}}" [(ngModel)]="ticketType.price" type="number">
        </div>

        <button type="button" (click)="removeTicketType(i)">Remove Ticket Type</button>
    </div>
    
    <button type="button" (click)="addTicketType()">Add Ticket Type</button>
    <button type="submit">Submit</button>
</form>
